.cm-header {
  display: flex;
  align-items: center;
  height: 168px;
}

.cm-header__header-content {
  display: flex;
  justify-content: space-between;
  height: 108px;
  padding: 0 32px;
}

@media screen and (min-width: 360px) and (max-width: 991px) {
  .cm-header__header-content {
    display: none;
  }

  .cm-header__header-content--mobile {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .cm-header__header-content--mobile {
    display: none;
  }
}

.cm-header__text-item {
  font-size: 14px;
}

.cm-header__text-item--confirmed {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cm-header__lang,
.cm-header__map-marker {
  opacity: 0.6;
}

.cm-header__city-name {
  opacity: 0.6;
  padding-left: 3px;
}

.cm-header__text-item--special {
  background: linear-gradient(90deg, #dc3545, #ffc107);
  border-radius: 25px;
}

.cm-header__auth-menu {
  display: flex;
  align-items: flex-end;
}

.cm-header__user-icon,
.cm-header__user-unlock-icon {
  font-size: 25px;
  margin-bottom: 4px;
}

@media screen and (max-width: 767px) {
  .cm-header__user-icon,
  .cm-header__user-unlock-icon {
    font-size: 16px;
  }
}

.cm-header__menu-humburger {
  display: inline-block;
  cursor: pointer;
}

.cm-header__menu-item--1,
.cm-header__menu-item--2,
.cm-header__menu-item--3 {
  width: 24px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  margin: 6px 0;
  transition: 0.4s;
}

.cm-header__menu-humburger:hover .cm-header__menu-item--1 {
  transform: rotate(-45deg) translate(-10px, 4px);
}

.cm-header__menu-humburger:hover .cm-header__menu-item--2 {
  opacity: 0;
}

.cm-header__menu-humburger:hover .cm-header__menu-item--3 {
  transform: rotate(45deg) translate(-9px, -3px);
}

.cm-header__sidebar-nav {
  width: 220px;
}

@media screen and (max-width: 576px) {
  .cm-header__sidebar-nav {
    transform: none;
    visibility: visible;
  }
}

@media screen and (min-width: 577px) {
  .cm-header__sidebar-nav {
    pointer-events: none;
  }
}

.cm-header__sidebar-item {
  border-radius: 0;
  border: none;
  padding: 0;
}

.cm-header__sidebar-text-item,
.cm-header__sidebar-text-link {
  font-size: 16px;
}

.cm-header__user-phone-icon,
.cm-header__user-phone-number {
  opacity: 0.6;
}

.cm-header__sidebar-link--confirmed {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  text-decoration: none;
  opacity: 0.6;
}
