.cm-access-form {
  width: 396px;
  padding: 24px 0;
  margin-top: 40px;
  border-radius: 16px;
}
.cm-access-form--strict {
  background: linear-gradient(-45deg, #6c757d 20%, #f8f9fa 40%);
}

.cm-access-form__input-box,
.cm-access-form__login-btn-box {
  padding: 0 16px;
}

.cm-access-form__input-text {
  height: 65px;
  padding: 14px 16px !important;
  font-size: 17px;
  resize: none;
  cursor: pointer;
}

.cm-access-form__plain-text:focus {
  outline: 0;
  border: 1px solid #198754;
  box-shadow: 0 0 0 0.25rem rgb(25, 135, 84, 0.25);
  border-radius: 3px;
}

.cm-access-form__login-btn {
  width: 100%;
  padding: 14px 16px;
  font-size: 20px;
}

.cm-access-form__underline {
  border-bottom: 1px solid #dadde1;
  margin: 20px 16px;
}

.cm-access-form__input-box--centered {
  display: flex;
  justify-content: center;
}

.cm-access-form__submit-btn {
  width: 232px;
  padding: 14px 16px;
  font-size: 17px;
}

.cm-access-form__submit-btn--full-size {
  width: 100%;
}

.cm-access-form__submit-btn--colored {
  background: linear-gradient(-45deg, #ffc107 15%, #dc3545 50%);
  border: none;
}

.cm-access-form__submit-btn--colored:focus {
  border: none;
  background-color: transparent;
  box-shadow: none;
}

@media screen and (min-width: 992px) {
  .cm-access-form__submit-btn {
    transition: all 0.5s;
  }
}

@media screen and (max-width: 991px) {
  .cm-access-form--strict {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .cm-access-form__input-text:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.25rem rgba(229, 53, 69, 0.25);
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .cm-access-form {
    box-shadow: none !important;
  }
}
