.is-show {
  transition: opacity 0.4s;
}

.is-hide {
  opacity: 0;
  width: 0;
  height: 0;
}

.is-shown {
  opacity: 1;
}

.is-hidden {
  opacity: 0;
  transition: opacity 0.4s;
}

.show-more-btn {
  background: linear-gradient(90deg, rgb(220, 53, 69), rgb(255, 193, 7));
  border: none;
  width: 100%;
  height: 55px;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 25px;
}

@media screen and (min-width: 992px) {
  .preview-card-img {
    transition: all 0.5s;
  }

  .preview-card-img:hover {
    filter: brightness(80%);
    transform: scale(1.02);
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);
  }
}
