.is-show {
  transition: opacity .4s;
}

.is-hide {
  opacity: 0;
  width: 0;
  height: 0;
}

.is-shown {
  opacity: 1;
} 

.is-hidden {
  opacity: 0;
  transition: opacity .4s;
}

@media screen and (min-width: 992px) {
  .preview-card-img {
    transition: all .5s;
  }

  .preview-card-img:hover {
    filter: brightness(80%);
    transform: scale(1.02); 
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);
  }
}