<form method="post">
    <div class="mb-3">
        <label for="formControlName" class="form-label">Ник</label>
        <input 
            type="text" 
            class="form-control" 
            id="formControlName" 
            placeholder="Ваше имя на сайте" 
            name="nickName"
            autocomplete="off"
        >
    </div>
    <div class="mb-3">
        <label for="formControlPassword" class="form-label">Ваш пароль</label>
        <input 
            type="password" 
            class="form-control" 
            id="formControlPassword" 
            placeholder="Введите пароль пользователя" 
            name="password"
            autocomplete="off"
        >
    </div>
    <div class="mb-3">
        <input 
            type="submit" 
            class="btn btn-light" 
            value="Войти"
        >
    </div>
</form>