<div class="ad-text__root">
  <div class="alert alert-primary ad-text__title">
    <div
      class="
        alert-heading
        fs-1
        fw-bold
        text-white text-break
        ad-text__heading
      "
    >
      <%=title %>
    </div>
  </div>
  <h2 class="alert alert-primary text-break text-white ad-text__text">
    <%=text %>
  </h2>
</div>
