<div class="cm-jumbotron">
  <div class="alert alert-danger cm-jumbotron__title-box">
    <div class="alert-heading fs-1 fw-bold text-white text-break cm-jumbotron__title">
      <%=title %>
    </div>
  </div>
  <h2 class="alert alert-danger text-break text-white cm-jumbotron__text">
    <%=text %>
  </h2>
</div>