<div class="cm-jumbotron">
    <div class="alert alert-light cm-jumbotron__title-box">
        <div class="alert-heading fs-1 fw-bold text-primary cm-jumbotron__title">Платки</div>
    </div>
    <h2 class="alert alert-light text-break cm-jumbotron__text">
        Большой выбор женских платков по специальным ценам
    </h2>
</div>