<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="/user/account">Зарегистрироваться</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/user/auth">Войти</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/item/upload/confirm">Загрузить товар</a>
    </li>
</ul>