<nav class="navbar navbar-expand-lg navbar-dark bg-primary cm-menu">
  <div class="container-fluid cm-menu__menu-content">
    <div class="collapse navbar-collapse cm-menu__list-box" style="display: flex; justify-content: flex-end;">
      <ul class="navbar-nav cm-menu__menu-list">
        <li class="nav-item cm-menu__item">
          <a class="nav-link cm-menu__link" href="/item/scope/confirm">Возможности</a>
        </li>
      </ul>
    </div>
  </div>
</nav>