<div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-12 show" id="show">
  <div class="show-wrapper" id="showWrapper">
    <div class="alert alert-light show-title" id="showTitle">
      <div class="alert-heading fs-1 fw-bold text-break text-white">
        <%=title %>
      </div>
    </div>
    <h2 class="alert alert-light text-break text-white show-text" id="showText">
      <%=text %>
    </h2>
  </div>
</div>
