<div class="col-xxl-6 col-xl-6 col-lg-6">
  <div class="alert alert-light bg-secondary tooltip-block">
    <h4 class="alert-heading text-break text-dark tooltip-block-title">
      Добавить новый товар
    </h4>
    <div class="tooltip-block-content">
      <span class="fas fa-file-image tooltip-block-upload"></span>
      <div class="text-break text-dark tooltip-block-text">
        Начните добавлять прямо сейчас!
      </div>
    </div>
  </div>
</div>
