<div class="col-xxl-6 col-xl-6 col-lg-6 upload">
  <form class="shadow upload-form" method="post">
    <div class="mb-3 upload-wrapper-input">
      <div class="form-floating">
        <textarea
          class="form-control text-break text-secondary upload-field-text"
          id="fieldItemName"
          name="itemName"
        >
        </textarea>
        <label class="text-break" for="itemName">Введите название товара</label>
      </div>
    </div>
    <div class="mb-3 upload-wrapper-input">
      <div class="form-floating">
        <textarea
          class="form-control text-break text-secondary upload-field-text"
          id="fieldSize"
          name="size"
        >
        </textarea>
        <label class="text-break" for="size">Укажите размер</label>
      </div>
    </div>
    <div class="mb-3 upload-wrapper-input">
      <div class="form-floating">
        <textarea
          class="form-control text-break text-secondary upload-field-text"
          id="fieldStuff"
          name="stuff"
        >
        </textarea>
        <label class="text-break" for="stuff">Укажите материал</label>
      </div>
    </div>
    <div class="mb-3 upload-wrapper-input">
      <div class="form-floating">
        <textarea
          class="form-control text-break text-secondary upload-field-text"
          id="fieldPrice"
          name="price"
        >
        </textarea>
        <label class="text-break" for="price">Укажите цену</label>
      </div>
    </div>
    <div class="mb-3 upload-wrapper-input">
      <input
        type="submit"
        class="btn btn-light text-break text-white upload-btn-upload"
        value="Добавить"
      />
    </div>
  </form>
</div>
