<%- include("partials/metadata") %>
    <body>
        <main>
            <%- include("partials/menu") %>
            <div class="container">
                <form method="post">
                    <div class="mb-3">
                        <label for="formControlFirstName" class="form-label">Имя</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="formControlFirstName" 
                            placeholder="Введите ваше имя" 
                            name="firstName"
                            autocomplete="off"
                        >
                    </div>
                    <div class="mb-3">
                        <label for="formControlLastName" class="form-label">Фамилия</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="formControlLastName" 
                            placeholder="Введите вашу фамилию" 
                            name="lastName"
                            autocomplete="off"
                        >
                    </div>
                    <div class="mb-3">
                        <label for="formControlNickName" class="form-label">Ник</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="formControlNickName" 
                            placeholder="Ваше имя на сайте"
                            name="nickName"
                            autocomplete="off"
                        >
                    </div>
                    <div class="mb-3">
                        <label for="formControlPassword" class="form-label">Пароль</label>
                        <input 
                            type="password" 
                            class="form-control" 
                            id="formControlPassword" 
                            placeholder="Введите ваш пароль" 
                            name="password"
                            autocomplete="off"
                        > 
                    </div>
                    <div class="mb-3">
                        <input 
                            type="submit" 
                            class="btn btn-light" 
                            value="Зарегистрироваться"
                        >
                    </div>
                </form>
            </div>
        </main>
    </body>
</html>