<%- include("partials/metadata") %>
    <body>
        <main>
            <%- include("partials/menu") %>
            <div class="container">
                <%- include("partials/actionForm") %>
            </div>
        </main> 
    </body>
</html>