
  <%- include("partials/metadata") %>
  <body>
    <main>
      <%- include("partials/menu") %>
      <div class="container">
        <div class="row">
          <div class="col-4">
            <div class="card" style="width: 18rem">
              <div style="display: flex; justify-content: center">
                <svg
                  class="bd-placeholder-img"
                  width="200"
                  height="250"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c"></rect>
                  <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                    Thumbnail
                  </text>
                </svg>
              </div>
              <div class="card-body">
                <p class="card-text text-break">Цена товара</p>
                <h5 class="card-title text-break">Название товара</h5>
                <a href="#" class="btn btn-success">Подробнее</a>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card" style="width: 18rem">
              <div style="display: flex; justify-content: center">
                <svg
                  class="bd-placeholder-img"
                  width="200"
                  height="250"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c"></rect>
                  <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                    Thumbnail
                  </text>
                </svg>
              </div>
              <div class="card-body">
                <p class="card-text text-break">Цена товара</p>
                <h5 class="card-title text-break">Название товара</h5>
                <a href="#" class="btn btn-success">Подробнее</a>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card" style="width: 18rem">
              <div style="display: flex; justify-content: center;">
                <svg
                  class="bd-placeholder-img"
                  width="200"
                  height="250"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c"></rect>
                  <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                    Thumbnail
                  </text>
                </svg>
              </div>
              <div class="card-body">
                <p class="card-text text-break">Цена товара</p>
                <h5 class="card-title text-break">Название товара</h5>
                <a href="" class="btn btn-success">Подробнее</a>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card" style="width: 18rem">
              <div style="display: flex; justify-content: center">
                <svg
                  class="bd-placeholder-img"
                  width="200"
                  height="250"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c"></rect>
                  <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                    Thumbnail
                  </text>
                </svg>
              </div>
              <div class="card-body">
                <h5 class="card-title text-break">Цена товара</h5>
                <p class="card-text">Название товара</p>
                <a href="#" class="btn btn-success">Подробнее</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
