
  <%- include("partials/metadata") %>
  <body class="cm-page-body">
    <main class="container cm-page-body__grid-container">
      <div class="p-md-5 mb-4 text-white rounded bg-primary">
        <div class="col-md-6">
          <h1 class="text-break">Управление товарами</h1>
          <p class="lead my-3 text-break">
            В данном разделе вы можете управлять своими товарами, добавлять и
            удалять товары.
          </p>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-6">
          <div class="row g-0 border rounded mb-4 shadow-sm">
            <div class="col p-4">
              <h3 class="mb-0 text-break">Featured post</h3>
              <p class="card-text mb-auto text-break">
                This is a wider card width supporting text below as a natural
                lead-in to additional content.
              </p>
            </div>
            <div class="col-auto">
              <!-- -->
              <svg
                class="bd-placeholder-img"
                width="200"
                height="250"
                xmlns="http://www.w3.org/2000/svg"
                role="img"
                aria-label="Placeholder: Thumbnail"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
              >
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
              </svg>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row g-0 border rounded mb-4 shadow-sm">
            <div class="col p-4">
              <h3 class="mb-0 text-break">Post title</h3>
              <p class="card-text mb-auto text-break">
                This is a wider card width supporting text below as a natural
                lead-in to additional content.
              </p>
            </div>
            <div class="col-auto">
              <!-- -->
              <svg
                class="bd-placeholder-img"
                width="200"
                height="250"
                xmlns="http://www.w3.org/2000/svg"
                role="img"
                aria-label="Placeholder: Thumbnail"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
              >
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <div class="cm-page-body__jumbotron-box">
            <%- include('partials/jumbotron', {
              title: 'Загрузить товар',
              text: 'Начните добавлять товары прямо сейчас!'
            }) %>
          </div>
        </div>
        <div class="col-7 cm-page-body__access-form-box">
          <form class="shadow rounded cm-access-form" method="post">
            <div class="mb-3 cm-access-form__input-box">
              <textarea
                class="form-control cm-access-form__input-text"
                placeholder="Введите название товаара"
                name="itemName"
              >
              </textarea>
            </div>
            <div class="mb-3 cm-access-form__input-box">
              <textarea
                class="form-control cm-access-form__input-text"
                placeholder="Укажите размер"
                name="size"
              >
              </textarea>
            </div>
            <div class="mb-3 cm-access-form__input-box">
              <textarea
                class="form-control cm-access-form__input-text"
                placeholder="Укажите материал"
                name="stuff"
              >
              </textarea>
            </div>
            <div class="mb-3 cm-access-form__input-box">
              <textarea
                class="form-control cm-access-form__input-text"
                placeholder="Укажите цену"
                name="price"
              >
              </textarea>
            </div>
            <div class="mb-3 cm-access-form__input-box cm-access-form__input-box--centered">
              <input type="submit" class="btn btn-primary cm-access-form__submit-btn cm-access-form__submit-btn--full-size" value="Добавить" />
            </div>
          </form>
        </div>
      </div>
    </main>
    <footer class="blog-footer">
      <p class="lead text-break">
        Разработано специально для распродажи женских платочков
      </p>
    </footer>
  </body>
</html>
