<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title %></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/../../documentBody/documentBody.css">
    <link rel="stylesheet" href="/../../sectionMain/sectionContent.css">
    <link rel="stylesheet" href="/../../gridTemplate/templateApp.css">
    <link rel="stylesheet" href="/../../page/page.css" />
    <link rel="stylesheet" href="/../../adText/adText.css">
    <link rel="stylesheet" href="/../../accessForm/accessForm.css" />
  </head>

  <body class="document-body is-private-theme">
    <main class="section-content is-private">
      <div class="container template-app">
        <div class="row template-app__cols">
          <div class="col-5 ad">
            <%-include("partials/adText.ejs", {
              title: 'Действие не может быть отменено',
              text: 'После удаления, информацию нельзя будет восстановить!'
            }) %>
          </div>
          <div class="col-7 app-access-form">
            <%- include("partials/actionForm", { confirm: true }) %>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
