@media screen and (max-width: 991px) {
  .card-list {
    background: transparent !important;
    border-radius: 0 !important;
    margin: 0 !important;
    padding-top: 0 !important;
  }

  .card-list-base {
    margin-top: 168px;
  }

  .card-list-box {
    width: 50%;
  }
}
