
.cm-page-body {
  background: linear-gradient(90deg, #dc3545, #0d6efd);
}

.cm-page-body__content-page {
  background: #fff;
}

.cm-page-body__account-content {
  background: transparent;
}

@media screen and (max-width: 991px) {
  .cm-page-body__content-page {
    margin-top: 168px;
    padding-top: 22px;
  }

  .cm-page-body__content-page--discard {
    margin: 0;
    padding: 0;
    background: transparent;
  }
}

@media screen and (min-width: 992px) {
  .cm-page-body__content-page {
    margin-top: 50px;
    border-radius: 30px;
  }
}

.cm-page-body__grid-container {
  padding-top: 72px;
  padding-bottom: 112px;
}

@media screen and (max-width: 991px) {
  .cm-page-body__grid-container {
    padding-top: 0;
    padding-bottom: 22px;
  }
}

.cm-page-body__preview-card-box {
  display: flex;
  justify-content: center;
}

.cm-page-body__jumbotron-box {
  padding: 112px 0 16px;
}

@media screen and (max-width: 991px) {
  .cm-page-body__jumbotron-box {
    padding: 0;
  }
}

.cm-page-body__access-form-box {
  display: flex;
  justify-content: flex-end;
}
