.cm-page-body {
  background: linear-gradient(90deg, #dc3545, #0d6efd);
}

.cm-page-body--strict {
  background: linear-gradient(-45deg, #0d6efd 20%, #f8f9fa 40%);
}

.cm-page-body__account-content {
  background: transparent;
}

.cm-page-body__jumbotron-box {
  position: relative;
  height: max-content;
  padding: 112px 0 16px;
}

.cm-page-body__access-form-box {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 991px) {
  .cm-page-body__content-page--discarded {
    margin: 0;
    padding: 0;
    background: transparent;
  }

  .cm-page-body__card-box--private {
    width: 100%;
  }

  .cm-page-body__jumbotron-self {
    padding: 24px 16px 0;
  }

  .cm-page-body__jumbotron-box {
    padding: 0;
  }

  .cm-page-body__access-form-box--private {
    width: 100%;
  }
}

