.cm-banner {
  border-radius: 16px;
  background: linear-gradient(45deg, #0dcaf0 20%, #0d6efd 40%);
  border: none;
}

.cm-banner__title {
  font-size: 40px;
}

.cm-banner__text {
  font-size: 32px;
}


@media screen and (max-width: 991px) {
  .cm-banner__banner-content {
    width: 100%;
  }
  
  .cm-banner__title {
    font-size: 31px;
  }

  .cm-banner__text {
    font-size: 25px;
  }
}