.grid-container {
  margin-top: 300px;
  margin-bottom: 300px;
}

.grid-box {
  margin-top: 150px;
  margin-bottom: 150px;
}

.text-data {
  width: 47%;
  display: flex;
  align-items: center;
}

.entire-form {
  width: 53%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}

@media screen and (min-width: 992px) {
  .text-data {
    padding: 0;
  }
}

@media screen and (max-width: 991px) {
  .grid-container {
    margin-top: 64px;
    margin-bottom: 64px;
  }

  .grid-box {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .grid-base {
    display: flex;
    flex-direction: column;
  }

  .text-data,
  .entire-form {
    width: 100%;
  }
}

.cm-jumbotron.is-marked {
  width: max-content;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  z-index: 8;
}

.cm-jumbotron.is-marked > .cm-jumbotron__title-box {
  width: 416px;
  height: 150px;
  margin: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
  background: linear-gradient(-90deg, #dc3545 15%, #ffc107 50%);
}

.cm-jumbotron.is-marked > .cm-jumbotron__text {
  width: 416px;
  height: 150px;
  margin: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: none;
  background: linear-gradient(-90deg, #dc3545 15%, #ffc107 50%);
}

.cm-jumbotron__title-box,
.cm-jumbotron__text {
  text-align: center;
  border: none;
}

.cm-jumbotron__text {
  width: 550px;
}

.cm-jumbotron__text.is-normal {
  text-align: left;
}

@media screen and (max-width: 991px) {
  .cm-imposition,
  .cm-jumbotron.is-marked {
    display: none;
  }

  .cm-jumbotron__title-box {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    margin-bottom: 0;
    background: linear-gradient(90deg, #0d6efd, #dc3545);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #fff;
  }

  .cm-jumbotron__text {
    width: 100%;
    background: linear-gradient(90deg, #0d6efd, #dc3545);
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 992px) {
  .cm-jumbotron {
    display: flex;
    justify-content: space-between;
  }

  .cm-jumbotron__title-box,
  .cm-jumbotron__text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
  }

  .cm-jumbotron__title-box {
    margin-right: 12px;
    background: linear-gradient(90deg, #dc3545, #ffc107);
  }

  .cm-jumbotron__text {
    margin-left: 12px;
    background: linear-gradient(-90deg, #dc3545, #ffc107);
  }
}
