.cm-jumbotron.is-marked {
  width: max-content;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
}
.cm-jumbotron.is-marked > .cm-jumbotron__title-box {
  width: 416px;
  height: 150px;
  margin: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: none;
  background: linear-gradient(-90deg, #dc3545 15%, #ffc107 50%);
}

.cm-jumbotron.is-marked > .cm-jumbotron__text {
  width: 416px;
  height: 150px;
  margin: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: none;
  background: linear-gradient(-90deg, #dc3545 15%, #ffc107 50%);
}

@media screen and (min-width: 992px) {
  .cm-jumbotron {
    display: flex;
    justify-content: space-between;
  }

  .cm-jumbotron__title-box,
  .cm-jumbotron__text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
  }

  .cm-jumbotron__title-box {
    margin-right: 12px;
    background: linear-gradient(90deg, #dc3545, #ffc107);
  }

  .cm-jumbotron__text {
    margin-left: 12px;
    background: linear-gradient(-90deg, #dc3545, #ffc107);
  }
}

.cm-jumbotron__title-box,
.cm-jumbotron__text {
  text-align: center;
}

.cm-jumbotron__text {
  width: 550px;
}

@media screen and (max-width: 991px) {
  .cm-jumbotron__title-box {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    margin-bottom: 0;
    background: #dc3545;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #fff;
  }

  .cm-jumbotron__text {
    width: 100%;
    background: #dc3545;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 0;
  }
}

.cm-page-body__jumbotron-box {
  position: relative;
  height: max-content;
}

.cm-jumbotron__text.is-normal {
  text-align: left;
}

.cm-imposition {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 416px;
  height: 300px;
  background: #fff;
  z-index: 10;
  background: linear-gradient(45deg, #ffc107 20%, #dc3545 70%);
  border-radius: 16px;
  margin-bottom: 16px;
  opacity: 1;
  transition: all 0.4s;
}

.cm-imposition.is-danger {
  border: 1px solid #dc3545;
}

.cm-imposition:hover {
  margin: -25px 0;
  opacity: 0;
  transform: translateY(-50px) scale(0.5);
}

.cm-imposition__icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 16px;
  mix-blend-mode: screen;
  font-size: 54px;
}

.cm-jumbotron.is-marked {
  z-index: 8;
}
