.show-more-btn {
  background: linear-gradient(-90deg, rgb(220, 53, 69), rgb(255, 193, 7));
  border: none;
  width: 100%;
  height: 55px;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 25px;
}

.is-show {
  transition: opacity 0.4s;
}

.is-hide {
  opacity: 0;
  width: 0;
  height: 0;
}

.is-shown {
  opacity: 1;
}

.is-hidden {
  opacity: 0;
  transition: opacity 0.4s;
}

@media screen and (max-width: 1199px) {
  .is-hide {
    pointer-events: none;
  }
}
