@media screen and (max-width: 991px) {
  .btn-humburger {
    display: block !important;
    padding-left: 36px;
  }
  .menu-humburger.is-active:hover > .humburger-item-1 {
    transform: rotate(-45deg) translate(-10px, 4px);
  }

  .menu-humburger.is-active:hover > .humburger-item-2 {
    opacity: 0;
  }

  .menu-humburger.is-active:hover > .humburger-item-3 {
    transform: rotate(45deg) translate(-9px, -3px);
  }
}

@media screen and (min-width: 992px) {
  .btn-humburger {
    display: block;
  }
}
